@page "/reg"
@using Client.Components.Layout
@using Client.Models.Auth
@using Client.Services.Abstractions
@inject IUserService AuthService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@layout AuthLayout

<PageTitle>Регистрация</PageTitle>

<div class="auth-container">
	<div class="auth-box">
		<h2 class="element">Регистрация</h2>

		<div class="element">
			<label for="username">Логин</label>
			<InputText class="auth-input" type="text" id="username" @bind-Value="credentials.Login" />
		</div>

		<div class="element">
			<label for="password">Пароль</label>
			<InputText class="auth-input" type="password" id="password" @bind-Value="credentials.Password" />
		</div>

		<div class="element">
			<label for="password">Повторите пароль</label>
			<input class="auth-input" type="password" id="confirm-password" />
		</div>

		<button class="auth-btn element" @onclick="Register">Регистрация</button>

		<div class="text-black">
			Уже есть аккаунт?
			<a href="/auth">Вход</a>
		</div>
	</div>
</div>

@code {
	AuthCredentials credentials = new();

	async Task Register()
	{
		await AuthService.RegisterUser(credentials);
		NavigationManager.NavigateTo("/auth");
	}
}