@page "/auth"

<PageTitle>Вход</PageTitle>

<div class="auth-container">
    <div class="auth-box">
        <h1 class="element">Вход</h1>

        <div class="element">
            <label for="username">Логин</label>
            <input class="auth-input" type="text" id="username" name="username" />
        </div>

        <div class="element">
            <label for="password">Пароль</label>
            <input class="auth-input" type="password" id="password" name="password" />
        </div>

        <button class="auth-btn element">Войти</button>

        <div class="text-black">
            Первый раз у нас?
            <a href="/reg">Регистрация</a>
        </div>
    </div>
</div>