@page "/feed"

<PageTitle>Лента</PageTitle>

<div class="pages-layout">
    <div class="top-boxes">
        <div class="feed-filters-box">
            <div class="filters-title">Моя лента</div>
        </div>
        <div class="feed-leaderboard-box">
            <div class="leaderboard-title">Лучшие статьи</div>
        </div>
    </div>
    <div class="horizontal-boxes">
        <div class="article-box">
            <div class="article-content">
                content
            </div>
        </div>
        <div class="article-box">
            <div class="article-content">
                content
            </div>
        </div>
    </div>
</div>