@page "/reg"

<PageTitle>Registration</PageTitle>

<div class="auth-container">
    <div class="auth-box">
        <h2 class="element">Регистрация</h2>

        <div class="element">
            <label for="username">Логин</label>
            <input class="auth-input" type="text" id="username" name="username" />
        </div>

        <div class="element">
            <label for="password">Пароль</label>
            <input class="auth-input" type="password" id="password" name="password" />
        </div>

        <div class="element">
            <label for="password">Повторите пароль</label>
            <input class="auth-input" type="password" id="confirm-password" name="confirm-password" />
        </div>

        <button class="auth-btn element">Регистрация</button>

        <div class="text-black">
            Уже есть аккаунт?
            <a href="/auth">Вход</a>
        </div>
    </div>
</div>