@using Client.Models
@using Client.Models.Auth
@using Client.Services.Abstractions

@inherits LayoutComponentBase

<div class="page">
  <main>
    <PageTitle>Articolo - </PageTitle>
    <div class="top-row px-4">
      <a class="app-title" href="/feed">Articolo</a>
      <MenuLogicComponent />
    </div>
    <article>
			@Body
    </article>
  </main>
</div>